@font-face {
  font-family: "iconfont"; /* Project id 2966624 */
  src: url('iconfont.woff2?t=1643184349242') format('woff2'),
       url('iconfont.woff?t=1643184349242') format('woff'),
       url('iconfont.ttf?t=1643184349242') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-redu:before {
  content: "\e619";
}

.icon-guanbi:before {
  content: "\e659";
}

.icon-icon_sousuo-mian:before {
  content: "\e642";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-mima:before {
  content: "\e69c";
}

.icon-yonghuming:before {
  content: "\e612";
}

.icon-huabanfuben:before {
  content: "\eb7e";
}

.icon-csdn:before {
  content: "\e600";
}

.icon-github:before {
  content: "\e64c";
}

